.DS_Store
.idea/
.vscode/
/vendor/
/node_modules/
/storage/*.key
/vendor/.composer/
.env
.env.local
storage/*.key
storage/app
storage/dotenv-editor/*
storage/debugbar/*
storage/logs/*.log
public/images
public/files

!public/.well-known/apple-app-association
nbproject
vendor/myfatoorah/library
docker-compose.override.yml
bigbluebutton.zip