.DS_Store
.idea/
.vscode/
/vendor/
/node_modules/
/bootstrap/cache/
/storage/*.key
/vendor/.composer/
.env
.env.local
storage/*
storage/app
public/images
public/files

!public/.well-known/apple-app-association
nbproject
vendor/myfatoorah/library
docker-compose.override.yml
bigbluebutton.zip